.orange-bg{
    background-color: #fceae8;
    
}
.carousel-item{
    padding: 30px 40px;
}
.orange-bg h1{
    color: palevioletred;
}
.bnt-buy{
    background-image: linear-gradient( to bottom,#ff5898 0%,#ff136f 100%) ;
    border-radius: 7px ;
    color: rgb(80, 71, 71);
    border: none;
    padding: 9Ppx 25px;
    cursor: pointer;
    height: 40px;
    width: 100px;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{

background-color: orange;
}
.cat2{

background-color: orchid;
}
 .cat3{
background-color: palegreen;
 }
 .container-categories{
     padding: 40px 0px 35px 270px;
    width: 80%;
    height: 50%;
}
.container-categories h1{
    color: white;
    font-size: 30px;
}
.container-categories img{
    width: 90px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
.card-deck{
    padding: 30px;

}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}

#subscribe input{
    padding-top:5px;
    padding-bottom: 7px;
}
footer{
    text-align: center;
}